@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default, dark --dark;
  rtl: true;
}

* {
  direction: rtl !important;
  font-family: var(--font-estedad), Arial, Helvetica, sans-serif;
}
